UnitTest/Service References/ReservationManagment/ReservationManagment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationManagment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IReservationManagment_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Models" />
      <xsd:import schemaLocation="http://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationManagment_AllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:AllStations" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_AllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:FindConnection" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_MakeReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_MakeReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_DeleteReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_DeleteReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_AllUserReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUserReservations" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_AllUserReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUserReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationManagment">
    <wsdl:operation name="AllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/AllStations" message="tns:IReservationManagment_AllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/AllStationsResponse" message="tns:IReservationManagment_AllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/FindConnection" message="tns:IReservationManagment_FindConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/FindConnectionResponse" message="tns:IReservationManagment_FindConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/MakeReservation" message="tns:IReservationManagment_MakeReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/MakeReservationResponse" message="tns:IReservationManagment_MakeReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/DeleteReservation" message="tns:IReservationManagment_DeleteReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/DeleteReservationResponse" message="tns:IReservationManagment_DeleteReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllUserReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/AllUserReservations" message="tns:IReservationManagment_AllUserReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/AllUserReservationsResponse" message="tns:IReservationManagment_AllUserReservations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IReservationManagmentUnsecure">
    <wsdl:operation name="AllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/AllStations" message="tns:IReservationManagment_AllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/AllStationsResponse" message="tns:IReservationManagment_AllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/FindConnection" message="tns:IReservationManagment_FindConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagmentUnsecure/FindConnectionResponse" message="tns:IReservationManagment_FindConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IReservationManagment" type="tns:IReservationManagment">
    <wsp:PolicyReference URI="#WSHttpBinding_IReservationManagment_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllStations">
      <soap12:operation soapAction="http://tempuri.org/IReservationManagmentUnsecure/AllStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <soap12:operation soapAction="http://tempuri.org/IReservationManagmentUnsecure/FindConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap12:operation soapAction="http://tempuri.org/IReservationManagment/MakeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <soap12:operation soapAction="http://tempuri.org/IReservationManagment/DeleteReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllUserReservations">
      <soap12:operation soapAction="http://tempuri.org/IReservationManagment/AllUserReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IReservationManagmentUnsecure" type="tns:IReservationManagmentUnsecure">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllStations">
      <soap:operation soapAction="http://tempuri.org/IReservationManagmentUnsecure/AllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <soap:operation soapAction="http://tempuri.org/IReservationManagmentUnsecure/FindConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationManagment">
    <wsdl:port name="WSHttpBinding_IReservationManagment" binding="tns:WSHttpBinding_IReservationManagment">
      <soap12:address location="https://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IReservationManagmentUnsecure" binding="tns:BasicHttpBinding_IReservationManagmentUnsecure">
      <soap:address location="http://iliketrainssomuch.azurewebsites.net/ReservationManagment.svc/unsec" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>